{% extends 'layout.twig' %}

{% block body %}
<h1>Add Professeur</h1>
<form method="post" action="http://localhost:5050/professeur/addProfesseur" >
<label>Fullname</label>
<input type="text" name="fullname"/><br/>
<label>Telephone</label>
<input type="number" name="telephone"/><br/>
<label>email</label>
<input type="text" name="email" /><br/>
<button type="submit">add Professeur</button>
</form>
{% endblock %}
