{% extends 'layout.twig' %}

{% block body %}
<h1>Update Professeur</h1>
<form method="post" action="http://localhost:5050/professeur/updateProfesseur/{{p._id}}">
<label>Fullname</label>
<input type="text" name="fullname" value={{p.fullname}} /><br/>
<label>Telephone</label>
<input type="number" name="telephone" value={{p.telephone}} /><br/>
<label>email</label>
<input type="text" name="email" value={{p.email}} /><br/>
<button type="submit">update Professeur</button>
</form>
{% endblock %}
